@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Outfit:wght@400;700&family=Roboto:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Outfit:wght@400;700&family=Roboto:wght@300&family=Sacramento&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.3rem;
    /* padding-top: 10px; */
}

.container-fluid {
    padding: 3% 15% 7%;
}



/* Navigation Bar */

.navbar {

    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;

}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.rotate-mobile {
    transform: rotate(25deg);
    width: 60%;
    margin-bottom: -60%;
}

.positioning {
    position: relative;
    left: 80px;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.features-col{
    text-align: center;
    padding: 5%;
}



.des{
    color: #8f8f8f;
}

.flag {
    color: #ef8172;
    margin-bottom: 1rem;
}
.flag:hover{
    color: #ff4c68;
}


/* Testimonial section */



#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.dogsDesc {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px ;

}

.carousel-item {
    padding: 7% 15%;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding-left: 3% 2%;;
}



